{% extends "base.html" %}

{% block title %} Andrii Shatov {% endblock %}

{% block extra_head %}
    <link href="https://fonts.googleapis.com/css?family=Neuton" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>
        body {
         background-color: #f7f7f7;
        }

        h1 {
            font-family: 'Neuton', serif;
        }

        span.bold {
            font-weight: bold;
        }
    </style>
{% endblock extra_head %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>42 Coffee Cups Test Assignment</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                    <div class="panel panel-default">
                    <div class="panel-body"><span class="bold">Name:</span> {{ contact.name }} </div>
                    <div class="panel-body"><span class="bold">Last name:</span> {{ contact.surname }} </div>
                    <div class="panel-body"><span class="bold">Date of birth:</span> {{ contact.birthdate }} </div>
                    <div class="panel-body">
                        <span class="bold">Bio:</span><br> {{ contact.bio }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="bold">Contacts</span></div>
                    <div class="panel-body"><span class="bold">Email:</span>
                        <a href="mailto:{{ contact.email }}"> {{ contact.email }}</a>
                    </div>
                    <div class="panel-body"><span class="bold">Jabber:</span> {{ contact.jabber }}</div>
                    <div class="panel-body"><span class="bold">Skype:</span> {{ contact.skype }}</div>
                    <div class="panel-body"><span class="bold">Other contacts:</span></div>
                    {% for label, text in other_contacts %}
                     <div class="panel-body">
                        <span class="bold" style="margin-left: 70px"> {{ label }}:</span>
                        {{ text }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>

        <a href="requests">Requests</a>
    </div>

{% endblock content %}


