<html>
<head></head>
<style>

</style>
<body>
<h1>42 Coffee Cups Test Assignment</h1>
<div style="display: table; table-layout: fixed; width: 100%;">
<div style="width=40%; display: table-cell; padding-right: 5px;">
<p>Name: {{ name }} Andrii</p>
<p>Last name: {{ surname }} Shatov</p>
<p>Date of birth: {{ birthdate }} 17 01 1988</p>
<p>Bio:<br> {{ bio }}
Studied Translation and then Applied Linguistics as my second degree. Acquire the Master Degree in Applie Linguistics recently. I guess it is not as cool as studying Computer Science or getting a related degree initially, but at least I we had a couple of Computational Linguistics related courses.

</p>
</div>
<div  style="display: table-cell; ">
<p>Contacts</p>
<p>Email: <a href="mailto:{{ email }}"> {{ email }}</a> </p>
<p>Jabber: {{ jabber }}</p>
<p>Skype: {{ skype }}</p>
<p>Other contacts: <br>
{{ other }} Phone number: +380 97 735 5246<br>
</p>
</div>
</div>
</body>
</html>
