{% extends "base.html" %}

{% block title %} HTTP requests {% endblock %}

{% block extra_head %}
    <link href="https://fonts.googleapis.com/css?family=Neuton" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>
        body {
         background-color: #f7f7f7;
        }

        h1 {
            font-family: 'Neuton', serif;
        }

        .list-group {
            list-style: decimal outside;
        }

        .list-group-item {
            display: list-item;
        }

        #back-to-main {
            margin: 10px;
            float: left;
        }
    </style>
    <script
                  src="https://code.jquery.com/jquery-3.1.0.min.js"
                  integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
                  crossorigin="anonymous"></script>
    <script>
    var rLogs = []; // entries which should be displayed
    var titleNumber = 0; // a number in the title, if 0 then title is default

    // Generate initial mock entry
    function genMock() {
        var d = new Date();
        var t = d.getTime().toString();
        return t.substring(5) + " > some request info ";
    }

    // fill the rLogs array with initial (mock) data
    function initMock() {
        for (i=0; i < 10; i++)
        {
            rLogs.push(genMock());
        }
    }

    // Display the content of rLogs
    function displayData() {
        $('span#rNumber').html(rLogs.length);
        $('ol#logList').html("");
        for (i=0; i < rLogs.length; i++) {
            $('ol#logList').append(
                "<li class='list-group-item' id=" + (i+1) + ">" + rLogs[i] + "</li>"
                );
        }

        // Modify the title if there are new requests and page is not on focus
        if(document.hasFocus()) {
            titleNumber = 0;
        }
        else {
            titleNumber = titleNumber + 1;
        }

        if (titleNumber > 0) {
            document.title = "(" + titleNumber + ") new requests";
        }
        else {
            document.title = "HTTP requests";
        }
    }

    // Send an AJAX request
    function sendRequest() {
        $.ajax({
          method: "POST",
          url: "/requests/",
          data: "",
        })
        .fail(function( msg ) {
            rLogs.pop();
            rLogs.unshift(genMock());
            displayData();
        });
    }

    $(document).ready(function(){
        initMock();
        displayData();
        sendRequest();
        setInterval(sendRequest, 3000);
    });



    </script>
{% endblock extra_head %}


{% block content %}
<body>
    <div id="back-to-main"><a href="/" >Back to Main Page</a></div>
    <div class="container">
            <div class="page-header">
                <h1>Last 10 HTTP requests</h1>
            </div>
        <ol class="list-group" id="logList">
          <li class="list-group-item" id="1">Cras justo odio</li>
          <li class="list-group-item" id="2">Dapibus ac facilisis in</li>
          <li class="list-group-item" id="3">Morbi leo risus</li>
          <li class="list-group-item" id="4">Porta ac consectetur ac</li>
          <li class="list-group-item" id="5">Vestibulum at eros</li>
          <li class="list-group-item" id="6">Cras justo odio</li>
          <li class="list-group-item" id="7">Dapibus ac facilisis in</li>
          <li class="list-group-item" id="8">Morbi leo risus</li>
          <li class="list-group-item" id="9">Porta ac consectetur ac</li>
          <li class="list-group-item" id="10">Vestibulum at eros</li>
        </ol>
    </div>
</body>
{% endblock content %}