{% extends "base.html" %}

{% block title %} HTTP requests {% endblock %}

{% block extra_head %}
    <link href="https://fonts.googleapis.com/css?family=Neuton" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>
        body {
         background-color: #f7f7f7;
        }

        h1 {
            font-family: 'Neuton', serif;
        }

        .list-group {
            list-style: decimal outside;
        }

        .list-group-item {
            display: list-item;
        }

        #back-to-main {
            margin: 10px;
            float: left;
        }
    </style>
    <script
                  src="https://code.jquery.com/jquery-3.1.0.min.js"
                  integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
                  crossorigin="anonymous"></script>
    <script>
    var rLogs = [];

    // Generate initial mock data
    function genMock() {
        var d = new Date();
        var t = d.getTime().toString();
        return t.substring(5) + " > some request info ";
    }

    // fill the array with initial (mock) data
    function initMock() {
        for (i=0; i < 10; i++)
        {
            rLogs.push(genMock());
        }
    }

     // Display 10 latest entries
    function displayData() {
        for (i=0; i < 10; i++) {
            $('li#' + (1 + i)).html(rLogs[i]);
        }
    }

    // Send an AJAX request
    function sendRequest() {
        $.ajax({
          method: "POST",
          url: "/",
        })
        .fail(function( msg ) {
            rLogs.pop();
            rLogs.unshift(genMock());
            displayData();
        });
    }

    $(document).ready(function(){
        initMock();
        displayData();
        setInterval(sendRequest, 2000);
    });



    </script>
{% endblock extra_head %}


{% block content %}
    <div id="back-to-main"><a href="/" >Back to Main Page</a></div>
    <div class="container">
            <div class="page-header">
                <h1>Last 10 HTTP requests</h1>
            </div>
        <ol class="list-group">
          <li class="list-group-item" id="1">Cras justo odio</li>
          <li class="list-group-item" id="2">Dapibus ac facilisis in</li>
          <li class="list-group-item" id="3">Morbi leo risus</li>
          <li class="list-group-item" id="4">Porta ac consectetur ac</li>
          <li class="list-group-item" id="5">Vestibulum at eros</li>
          <li class="list-group-item" id="6">Cras justo odio</li>
          <li class="list-group-item" id="7">Dapibus ac facilisis in</li>
          <li class="list-group-item" id="8">Morbi leo risus</li>
          <li class="list-group-item" id="9">Porta ac consectetur ac</li>
          <li class="list-group-item" id="10">Vestibulum at eros</li>
        </ol>
    </div>

{% endblock content %}